@{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg p-4 rounded-4" style="width: 350px; text-align: center;">
            <h4 class="mb-3">Đăng nhập</h4>
            <form asp-action="SignIn" class="form-horizontal">
                <button type="submit" class="btn btn-outline-primary d-flex align-items-center gap-2 px-4 py-2 w-100"
                        value="Google" title="Đăng nhập bằng Google">
                    <img src="~/images/Logo_Google.png" alt="Google Logo" width="30" height="30">
                    <span>Đăng nhập bằng Google</span>
                </button>
            </form>
        </div>
    </div>
}
